*{
	padding: 0;
	margin: 0;
}
body{
	background-color: greenyellow;
}
.nav-bar{
	height: 80px;
	width: 100.2%;
	position: absolute;
	background-color: black;
	opacity: 80%;
	position: absolute;
}
.logo{
	height: 78px;
	width: 130px;
	background-image: url(logo.jpg);
	background-size: 105%;
	position: relative;
	border: solid;
	border-color: #fff;
	background-repeat: no-repeat;
	margin: auto;
}
.nav-btn{
	position: absolute;
	margin-top: 10px;
	height: 52px;
	width: 52px;
	border: solid;
	border-color: grey;
	font-size: 41px;
	color: #fff;
}
.nav-tabs{
	width: 187.5px;
	border: solid;
	border-color: black;
	font-size: 40px;
	text-align: center;
	font-family: Gabriola;
	font-weight: 500;
	text-decoration: none;
	display: inline-grid;
	color: #fff;
	background-color: black;
	opacity: 80%;
	display: none;
	position: absolute;
	margin-top: 80px;
}
.Benefits{
	color: green;
	font-size: 30px;
	margin-top: 20px;
	font-size: 50px;
	margin-left: 20px;
	font-family: impact;
	display: ;
}
.info{
	font-family: cursive;
	font-size: 32px;
	display: ;
	color: green;
}
.app{
	height: 128px;
	width: 121px;
	background-image: url(apple.jpg);
	background-size: 100%;
	position: absolute;
	border: solid;
	margin-top: -5px;
	margin-left: 220px;
	border-color: limegreen;
	background-repeat: no-repeat;
	display:;
}
.Ben{
	display: none;
}
.dis{
	height: 38%;
	width: 50%;
	background-image: url(pro1.jpg);
	background-size: contain;
	position: absolute;
	border: solid;
	border-color: green;
	box-shadow: 5px 10px 15px 5px;
	margin: auto;
	top: 35%;
	left: 50%;
	right: 50%;
	transform: translate(-50%,-50%);
	display: ;
}
.btn{
	height: 30px;
	width: 65%;
	position: absolute;
	border: solid;
	border-color: green;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	top: 58%;
	left: 50%;
	font-size: 23px;
	font-family: Gabriola;
	transition: ease 0.2s;
	transform: translate(-50%,-50%);
	display: ;
}
.btn:hover{
	background-color: green;
}
.pro{
	display: none;
}
.contact{
	font-size: 28px;
	font-family: cursive;
	color: green;
    margin-top: 100px;
    display: ;
    position: absolute;
    top: 35%;
	left: 50%;
	display: none;
}
body .contact{
	text-align: center;
	transform: translate(-50%,-50%);
	position: absolute;
}
h2{
	position: absolute;
	margin: auto;
	font-size: 28px;
	font-family: segoe-script;
	top: 20%;
	color: green;
}
h6{
	position: absolute;
	font-size: 20px;
    font-family: Gabriola;
    transform: translate(-50%,-50%);
    color: green;
    top: 80%;
	left: 50%;
}
@media screen  and (max-width: 767px){
	h6{
        top: 170%;
	}
}
